
/* MAIN STYLES*/

/* HELPERS*/
.shadow {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5,0,0,1 );
}

.text-dark {
    -fx-text-fill:  #0C1830;
}

.text-info {
    -fx-text-fill:  #214282;
}

.text-white {
    -fx-text-fill: #F7F3F5;
}

.bold {
    -fx-font-weight: bold;
}

/*BUTTONS */
.button-big {
    -fx-background-radius: 4;
    -fx-padding: 8;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.button-sm {
    -fx-background-radius: 4;
    -fx-padding: 4;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #F7F3F5;
}
.button-md {
    -fx-background-radius: 4;
    -fx-padding: 6.5;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #F7F3F5;
}

.button-primary {
    -fx-background-color:  #214282;
    -fx-text-fill: #F7F3F5;
}

.button-secondary {
    -fx-background-color:  #0D77E7;
    -fx-text-fill: #F7F3F5;
}

.button-primary:hover {
    -fx-background-color:  #14274E;
}
.button-secondary:hover {
    -fx-background-color:  #51A0F5;
}

/*FORMS*/
.form-control {
    -fx-border-color: #51A0F5;
    -fx-border-width: 1px;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}

.form-control:focused {
    -fx-border-width: 1.2px;
}

/*ALERTS*/

.alert {
    -fx-background-radius: 4;
    -fx-background-color: #C91818;
    -fx-text-fill: #F7F3F5;
    -fx-font-weight: bold;
}

/*NAVS*/

.nav {
    -fx-background-color: #F7F3F5;
}

.nav-lg {
    -fx-background-radius: 0 12 12 0;
}
.nav-sm {
    -fx-background-radius: 12 0 0 12;
}

.nav-item {
    -fx-background-color: none;
    -fx-cursor: hand;
    -fx-padding: 4;
    -fx-border-width: 3;
    -fx-border-color: transparent;
}

.nav-item:hover {
    -fx-border-color: transparent transparent #51A0F5 transparent;
}

.panes {
    -fx-background-color: #F7F3F5;
    -fx-background-radius: 8;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 5,0,0,1 );
}

.link {
    -fx-text-fill: #14274E;
}

